@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

:root {
    --paper-clr: #F9FBFF;
    --primary-clr: #1E997C;
    --secondary-clr: #0784BA;
    --text-clr: #08121B;
}

body {
    margin: 0;
    color: var(--text-clr);
}

header {
    padding: 1em;
    background: var(--primary-clr);
    color: white;
}

main {
    width: 100vw;
    font-weight: 400;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

ol, ul, li {
    margin-bottom: 1em;
}

#logo {
    padding: 0;
    height: 2.5em;
}

#pagination-content {
    width: 100vw;
    color: var(--primary-clr);
    text-align: center;
}

#progress_status {
    width: 100vw;
    background-color: rgba(105, 92, 120, 0.3);
}
    
#myprogressBar {
    height: 10px;
    text-align: center;
    background-color: var(--primary-clr);
}

.slide {
    width: 90%;
    height: 450px;
    margin: 0 auto;
    overflow-y: auto;
}

.paper {
    padding: 1em;
    border-radius: 8px;
    background-color: rgba(7, 132, 186, 0.3);
    box-shadow: 2px -2px 8px 0px var(--primary-clr);
}

.list-def {
    margin-left: 1em;
}

.btn-stl {
    color: white;
    background-color: var(--primary-clr);
    margin: 0 0.25em;
}

.btn-stl:hover {
    color: var(--primary-clr);
    background-color: white;
}

.page-number {
    width: 20px;
    text-align: center;
    color: var(--primary-clr);
}
